# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env/
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# SQLite
*.db

# Logs
*.log

# Python cache
.pytest_cache/

# OS Files
.DS_Store
Thumbs.db

# Build
build/
dist/